<%- include('layouts/header') %>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-nav-project fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand font-h3" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse text-center font-subtext" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">WORK</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#footer">CONTACT</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">ABOUT ME</a>
          </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" href="#">SIGN UP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LOGIN</a>
        </li>
      </ul>
  </div>
</div>
</nav>

<!-- CALL TO ACTION -->
<section class="bg-main-screen" id="callToAction">
<div class="container position-absolute top-50 start-50 translate-middle text-center">
  <h1 class="font-h1">PLAY TRADITIONAL GAME</h1><br>
  <h3>Experience new traditional game play</h3><br>
  <a href="game/game.html" class="btn font-button orange-button">TRIAL</a>
</div>
<div class="container position-absolute bottom-0 start-50 translate-middle-x text-center">
  <a class="the-story" href="#gameplayOptions">
    <p class="font-subtext the-story">THE STORY</p>
    <i class="fas fa-angle-down"></i>
  </a>
</div>
</section>

<!-- GAMEPLAY OPTIONS -->
<section class="bg-the-games d-flex justify-content-center align-items-center" id="gameplayOptions">
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>What's so special?</h3>
      <h1 class="font-h2 mb-5">THE GAMES</h1>
    </div>
    <div class="col-lg-8 carousel slide" id="carouselExampleIndicators" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active rounded-circle" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="rounded-circle" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="rounded-circle" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="rounded-circle" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="rounded-circle" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active ">
            <img src="assets/rockpaperstrategy-1600.jpg" class="d-block mx-auto img-carousel">
          </div>
          <div class="carousel-item ">
            <img src="assets/rockpaperstrategy-1600.jpg" class="d-block mx-auto img-carousel">
          </div>
          <div class="carousel-item">
            <img src="assets/rockpaperstrategy-1600.jpg" class="d-block mx-auto img-carousel">
          </div>
          <div class="carousel-item">
            <img src="assets/rockpaperstrategy-1600.jpg" class="d-block mx-auto img-carousel">
          </div>
          <div class="carousel-item">
            <img src="assets/rockpaperstrategy-1600.jpg" class="d-block mx-auto img-carousel">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
</section>

<!-- GAME FEATURE -->
<section class="bg-features d-flex align-items-center" id="gameFeature">
<div class="container">
  <div class="row">
    <div class="offset-md-7">
      <h3>What's so special?</h3>
      <h1 class="font-h2">FEATURES</h1>
      <br>
      <ul class="timeline">
        <li>&ensp;
          <a class="orange-title" data-bs-toggle="collapse" href="#collapseFeature1" role="button" aria-expanded="false" aria-controls="collapseExample">TRADITIONAL GAMES</a>
          <div class="collapse feature-desc" id="collapseFeature1">
            <div class="font-subtext">If you miss your childhood, we provide <br> many traditional games here.
            </div>
          </div>
        </li>
        <br>
        <li>&ensp;
          <a class="orange-title" data-bs-toggle="collapse" href="#collapseFeature2" role="button" aria-expanded="false" aria-controls="collapseExample">GAME SUIT</a>
          <div class="collapse feature-desc" id="collapseFeature2">
            <div class="font-subtext">Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Consectetur, dolor!
            </div>
          </div>
        </li>
        <br>
        <li>&ensp;
          <a class="orange-title" data-bs-toggle="collapse" href="#collapseFeature3" role="button" aria-expanded="false" aria-controls="collapseExample">TBD</a>
          <div class="collapse feature-desc" id="collapseFeature3">
            <div class="font-subtext">Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Consectetur, dolor!
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>

<!-- SYSTEM REQ -->
<section class="bg-system-req d-flex align-items-center" id="systemReq">
<div class="container">
  <div class="row">
    <div class="col">
      <p class="font-subtext text-center">Can my computer run this game?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2 class="font-h2">SYSTEM<br>REQUIREMENTS</h2>
      <table class="table table-bordered">
        <tr>
          <td>
            <span class="orange-title">OS:</span><br>
            <p class="font-subtext">Windows 7 64 bit only (No OSX support at this time</p>
          </td>
          <td>
            <span class="orange-title">PROCESSOR:</span><br>
            <p class="font-subtext">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="orange-title">MEMORY:</span><br>
            <p class="font-subtext">4 GB RAM<br><br></p>
          </td>
          <td>
            <span class="orange-title">STORAGE:</span><br>
            <p class="font-subtext">8 GB available space<br><br></p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="orange-title">GRAPHICS:</span><br>
            <p class="font-subtext">NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</section>

<!-- TOP SCORE -->
<section class="bg-top-scores d-flex align-items-center" id="topScore">
<div class="container">
  <div class="row d-flex align-items-center justify-content-between">
    <div class="col-lg-4">
      <h2 class="font-h2">TOP SCORES</h2><br>
      <p class="font-subtext">This top score from various games provided on this platform</p><br>
      <button class="btn font-button orange-button">see more</button>
    </div>
    <!-- Tampilan Layar Besar -->
    <div class="offset-lg-2 col-lg-6 d-none d-lg-block">
      <!-- TESTIMONI 1 -->
      <div class="d-flex flex-row-reverse">
        <div class="card rounded-3 w-75">
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <img src="assets/thumbnail1.jpg" class="rounded-circle thumb-img">
                </div>
                <div class="col-8">
                  <span class="orange-title">Evan Lahti</span><br>
                  <span class="gray-color font-subtext">PC Gamer</span>
                </div>
                <div class="col-2">
                  <i class="fab fa-twitter gray-color"></i>
                </div>
                </div>
                <div class="row">
                  <p class="font-subtext testimoni">"One of my gaming highlights of the year."</p>
                  <p class="font-xs gray-color testimoni">June 18, 2021</p>
                </div>
            </div>
        </div>
      </div>
      <!-- TESTIMONI 2 -->
      <div class="d-flex flex-row">
        <div class="card rounded-3 w-75">
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <img src="assets/thumbnail2.jpg" class="rounded-circle thumb-img">
                </div>
                <div class="col-lg-8">
                  <span class="orange-title">Jada Griffin</span><br>
                  <span class="gray-color font-subtext">Nerdreactor</span>
                </div>
                <div class="col-lg-2">
                  <i class="fab fa-twitter gray-color"></i>
                </div>
                </div>
                <div class="row">
                  <p class="font-subtext testimoni">"The next big thing in the world of streaming and survival games."</p>
                  <p class="font-xs gray-color testimoni">July 10, 2021</p>
                </div>
            </div>
        </div>
      </div>
      <!-- TESTIMONI 3 -->
      <div class="d-flex flex-row-reverse">
        <div class="card rounded-3 w-75">
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <img src="assets/thumbnail3.jpg" class="rounded-circle thumb-img">
                </div>
                <div class="col-lg-8">
                  <span class="orange-title">Aaron Williams</span><br>
                  <span class="gray-color font-subtext">Uproxx</span>
                </div>
                <div class="col-lg-2">
                  <i class="fab fa-twitter gray-color"></i>
                </div>
                </div>
                <div class="row">
                  <p class="font-subtext testimoni">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."</p>
                  <p class="font-xs gray-color testimoni">December 24, 2018</p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Tampilan Layar Kecil -->
    <div class="col d-lg-none mt-5">
        <div class="card rounded-3 w-100">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2">
                  <img src="assets/thumbnail1.jpg" class="rounded-circle thumb-img">
                </div>
                <div class="col-sm-9">
                  <span class="orange-title">Evan Lahti</span><br>
                  <span class="gray-color font-subtext">PC Gamer</span>
                </div>
                <div class="col-sm-1">
                  <i class="fab fa-twitter gray-color"></i>
                </div>
                </div>
                <div class="row">
                  <p class="font-subtext testimoni">"One of my gaming highlights of the year."</p>
                  <p class="font-xs gray-color testimoni">June 18, 2021</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col d-lg-none mt-6">
      <div class="card rounded-3 w-100">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <img src="assets/thumbnail2.jpg" class="rounded-circle thumb-img">
              </div>
              <div class="col-sm-9">
                <span class="orange-title">Jada Griffin </span><br>
                <span class="gray-color font-subtext">Nerdreactor
                </span>
              </div>
              <div class="col-sm-1">
                <i class="fab fa-twitter gray-color"></i>
              </div>
              </div>
              <div class="row">
                <p class="font-subtext testimoni">“The next big thing in the world of streaming and survival games.”
                </p>
                <p class="font-xs gray-color testimoni">July 10, 2021</p>
              </div>
          </div>
      </div>
  </div>
  <div class="col d-lg-none mt-6">
    <div class="card rounded-3 w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <img src="assets/thumbnail3.jpg" class="rounded-circle thumb-img">
            </div>
            <div class="col-sm-9">
              <span class="orange-title">Aaron Williams </span><br>
              <span class="gray-color font-subtext">Uproxx</span>
            </div>
            <div class="col-sm-1">
              <i class="fab fa-twitter gray-color"></i>
            </div>
            </div>
            <div class="row">
              <p class="font-subtext testimoni">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
              <p class="font-xs gray-color testimoni">December 24, 2018</p>
            </div>
        </div>
    </div>
</div>
  </div>
</div>
</section>

<!-- NEWSLETTER SUBSCRIBE -->
<section class="bg-subscribe d-flex align-items-center">
<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col-lg-5 d-none d-lg-block">
      <img src="assets/subscribe-image.png" class="w-75">
    </div>
    <div class="col-lg-7">
      <div class="row">
        <div class="col">
          <h3>Want to stay in touch?</h3>
          <h1 class="font-h1">NEWSLETTER<br>SUBSCRIBE</h1><br>
          <p class="font-subtext">In order to start receiving our news, all you have to do is enter your email eddress. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</p>
        </div>
      </div>
      <br><br>
      <form class="row">
        <div class="col mt-2">
            <input type="email" class="form-control" placeholder="Your email address" value="sugandaugan7@gmail.com">
        </div>
        <div class="col-md-auto mt-2">
            <button type="submit" class="btn font-button orange-button w-100">Subscribe Now</button>
        </div>
      </form>
    </div>
  </div>
</div>
</section>

<!-- FOOTER -->
<footer id="footer">
<!-- BAGIAN ATAS -->
<div class="navbar navbar-expand-lg navbar-dark bg-subscribe">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-end footer-space" id="navbarNavAltMarkup">
      <!-- MENU -->
        <div class="navbar-nav font-subtext">
            <a class="nav-link" href="#callToAction">MAIN</a>
            <a class="nav-link" href="#">ABOUT</a>
            <a class="nav-link" href="#gameFeature">GAME FEATURES</a>
            <a class="nav-link" href="#systemReq">SYSTEM REQUIREMENTS</a>
            <a class="nav-link" href="#topScore">QUOTES</a>
        </div>
        <!-- SOCIAL MEDIA -->
        <div class="navbar-nav footer-icon">
            <a class="nav-link" href="#">
              <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z" fill="white"/>
          </svg>
            </a>
            <a class="nav-link" href="#">
              <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
          </svg>
            </a>
            <a class="nav-link" href="#">
              <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z" fill="#FF1313"/>
          </svg>
            </a>
            <a class="nav-link" href="#">
              <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z" fill="white"/>
            <path d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z" fill="white"/>
          </svg>
            </a>
        </div>
      </div>
    </div>
  </div>
  <!-- BAGIAN BAWAH -->
  <div class="nav d-flex justify-content-between footer-bottom bg-subscribe">
  <div class="nav-item font-xs gray-color">@ 2018 Your Games, Inc. All Rights Reserved</div>
  <div class="nav-item font-subtext">PRIVACY POLICY | TERMS OF SERVICE | CODE OF CONDUCT</div>
</div>
</footer>

<%- include('layouts/footer') %> 